
  .q-group button {
	  background-color: #083e4f; /* Green background */
	  border: 1px solid #032631; /* Green border */
	  color: white; /* White text */
	  /* Put the buttons starting on the bottom left of the screen*/
	  bottom:0; 
	  left:0;
	  padding: 10px 24px; /* Some padding to make the button bigger */
	  cursor: pointer; /* Pointer/hand icon */
	  float: left; /* Float the buttons side by side */
	}
  
	
	/* #content {
	  width : 595px;
	  height: 842px;
	  
	} */
  