.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: #04AA6D;
	color: white;
}
.Home-Links{
	width: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
.nav-Links{
	list-style: none;
}

.btn-group button {
	background-color: #04AA6D; /* Green background */
	border: 1px solid green; /* Green border */
	color: white; /* White text */
	/* Put the buttons starting on the bottom left of the screen*/
	bottom:0; 
	left:0;
	padding: 10px 24px; /* Some padding to make the button bigger */
	cursor: pointer; /* Pointer/hand icon */
	float: left; /* Float the buttons side by side */
}